# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
*.log
media/

# Node
node_modules/
frontend/dist/

# Local dev tools
seed.py
userfiles.txt
logs.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
